@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

*:active {
    -webkit-tap-highlight-color: transparent;
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
